@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*fondo de pantalla*/
html {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  font-size: 62.5%; }
  html body {
    background-color: black;
    max-width: 1200px; }
  html .centrarTexto {
    text-align: center;
    font-size: 1.8em; }
  html .centrarImg {
    align-items: center; }

/*maps*/
.color_b {
  color: blue; }

.color_r {
  color: red; }

.color_g {
  color: green; }

.color_y {
  color: yellow; }

/*extend*/
.tituloGeneral, .video .tituloIndex, .nosotros__titulo, .ruta .rutaTitulo__pho, .ruta .rutaTitulo__et, .mtb .mtbTitulo__xb, .mtb .mtbTitulo__ex, .bmx .bmxTitulo__cu, .bmx .bmxTitulo__fl {
  color: red;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin: 2rem; }

/*mixin*/
/* HEADER */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*menu al medio*/
  align-items: center;
  margin: 2rem; }
  .menu__logo {
    margin: 2rem 1rem;
    width: 60rem; }
  .menu__nav {
    margin: 1rem; }
  .menu__li {
    /*botones en fila*/
    display: flex;
    list-style: none; }
  .menu .nav__boton a {
    text-decoration: none;
    font-size: 1em;
    color: red;
    background-color: darkgray;
    /*espacio a los botones*/
    margin: 0px 0.4rem;
    /*tamaño de caja*/
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 1rem;
    /*mismo tamaño de caja*/
    display: inline-block;
    width: 8rem;
    text-align: center; }

.sociales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
  align-items: center; }
  .sociales__icono {
    margin: 1rem; }

.video {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: 6fr 1fr 3fr;
  grid-template-areas: "v1 v1 v1 v2 v2 v2"
 "ti ti ti ti ti ti"
 "v3 v3 v4 v4 v5 v5";
  grid-gap: 1rem;
  margin: 2rem; }
  .video__venzo1 {
    grid-area: v1; }
  .video__venzo2 {
    grid-area: v2;
    row-gap: 5rem; }
  .video .tituloIndex {
    grid-area: ti; }
  .video .subvideo__venzo1 {
    grid-area: v3; }
  .video .subvideo__venzo2 {
    grid-area: v4; }
  .video .subvideo__venzo3 {
    grid-area: v5; }

.nosotros {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "a e b b f d"
 "a c c c c d"; }
  .nosotros__titulo {
    display: grid;
    grid-area: b;
    align-items: center; }
  .nosotros__parrafo {
    text-align: center;
    margin: 1rem;
    font-size: 2em;
    grid-area: c; }

.ruta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 10fr 2fr 10fr;
  grid-template-areas: "rtp rtp"
 "rip rpp"
 "rte rte"
 "rie rpe";
  grid-gap: 0.2rem;
  justify-items: center;
  align-items: center;
  margin: 2rem; }
  .ruta .rutaTitulo__pho {
    grid-area: rtp; }
  .ruta .rutaImg__pho {
    grid-area: rip; }
  .ruta .rutaParrafo__pho {
    grid-area: rpp; }
  .ruta .rutaTitulo__et {
    grid-area: rte; }
  .ruta .rutaImg__et {
    grid-area: rie; }
  .ruta .rutaParrafo__et {
    grid-area: rpe; }

.mtb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 10fr 2fr 10fr;
  grid-template-areas: "mtx mtx"
 "mix mpx"
 "mte mte"
 "mie mpe";
  grid-gap: 0.2rem;
  justify-items: center;
  align-items: center;
  margin: 2rem; }
  .mtb .mtbTitulo__xb {
    grid-area: mtx; }
  .mtb .mtbImg__xb {
    grid-area: mix; }
  .mtb .mtbParrafo__xb {
    grid-area: mpx; }
  .mtb .mtbTitulo__ex {
    grid-area: mte; }
  .mtb .mtbImg__ex {
    grid-area: mie; }
  .mtb .mtbParrafo__ex {
    grid-area: mpe; }

.bmx {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 10fr 2fr 10fr;
  grid-template-areas: "btc btc"
 "bic bpc"
 "btf btf"
 "bif bpf";
  grid-gap: 0.2rem;
  justify-items: center;
  align-items: center;
  margin: 2rem; }
  .bmx .bmxTitulo__cu {
    grid-area: btc; }
  .bmx .bmxImg__cu {
    grid-area: bic; }
  .bmx .bmxParrafo__cu {
    grid-area: bpc; }
  .bmx .bmxTitulo__fl {
    grid-area: btf; }
  .bmx .bmxImg__fl {
    grid-area: bif; }
  .bmx .bmxParrafo__fl {
    grid-area: bpf; }

.contactos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 4fr 10fr 4fr;
  grid-template-areas: "z cn ca k"
 "z cl ce k"                                                             
 "z cc cc k" 
 "z cb cb k";
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 2rem; }
  .contactos__nombre {
    grid-area: cn; }
  .contactos__apellido {
    grid-area: ca; }
  .contactos__localidad {
    grid-area: cl; }
  .contactos__email {
    grid-area: ce; }
  .contactos__consulta {
    grid-area: cc; }
  .contactos__boton {
    grid-area: cb; }
  .contactos .boton__enviar {
    font-size: 1em;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
    background-color: darkgray; }

@media only screen and (max-width: 1024px) {
  .menu__logo {
    width: 50rem; }
  .menu .nav__boton a {
    font-size: 0.9em;
    width: 7rem;
    text-align: center; }
  .tituloGeneral, .video .tituloIndex, .nosotros__titulo, .ruta .rutaTitulo__pho, .ruta .rutaTitulo__et, .mtb .mtbTitulo__xb, .mtb .mtbTitulo__ex, .bmx .bmxTitulo__cu, .bmx .bmxTitulo__fl {
    font-size: 2em; }
  .nosotros__parrafo {
    font-size: 1.6em; }
  .centrarTexto {
    font-size: 3em; } }

@media only screen and (max-width: 900px) {
  .menu__logo {
    width: 40rem; }
  .menu .nav__boton a {
    font-size: 0.8em;
    width: 6rem; }
  .tituloGeneral, .video .tituloIndex, .nosotros__titulo, .ruta .rutaTitulo__pho, .ruta .rutaTitulo__et, .mtb .mtbTitulo__xb, .mtb .mtbTitulo__ex, .bmx .bmxTitulo__cu, .bmx .bmxTitulo__fl {
    font-size: 1.8em; }
  .nosotros__parrafo {
    font-size: 1.2em; }
  .centrarTexto {
    font-size: 1.2em; }
  .sociales__imagen a img {
    width: 8rem; } }

@media only screen and (max-width: 780px) {
  .menu {
    display: flex;
    flex-direction: column; }
    .menu__logo {
      width: 35rem; }
    .menu .nav__boton a {
      font-size: 0.6em;
      width: 6rem; }
  .video {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr 3fr 0.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-areas: "v1" 
 "v2" 
 "ti"
 "v3"
 "v4"
 "v5";
    grid-gap: 1rem;
    margin: 2rem; }
  .tituloGeneral, .video .tituloIndex, .nosotros__titulo, .ruta .rutaTitulo__pho, .ruta .rutaTitulo__et, .mtb .mtbTitulo__xb, .mtb .mtbTitulo__ex, .bmx .bmxTitulo__cu, .bmx .bmxTitulo__fl {
    font-size: 1.6em; }
  .nosotros__parrafo {
    font-size: 1em; }
  .centrarTexto {
    font-size: 1em; }
  .ruta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr 5fr 5fr;
    grid-template-areas: "rtp"
 "rip" 
 "rpp"
 "rte"
 "rie"
 "rpe"; }
  .mtb {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr 5fr 5fr;
    grid-template-areas: "mtx"
 "mix"
 "mpx"
 "mte"
 "mie"
 "mpe"; }
  .bmx {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr 5fr 5fr;
    grid-template-areas: "btc"
 "bic"
 "bpc"
 "btf"
 "bif" 
 "bpf"; }
  .contactos {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 5fr 2fr;
    grid-template-areas: "cn"
 "ca"
 "cl"
 "ce"                                                             
 "cc" 
 "cb"; }
  .sociales__imagen a img {
    width: 7rem; }
    .sociales__imagen a img__icono img {
      width: 2.5rem; } }

@media only screen and (max-width: 420px) {
  .menu {
    display: flex;
    flex-direction: column;
    margin: 1rem; }
    .menu__logo {
      width: 30rem; }
    .menu .nav__boton a {
      font-size: 0.6em;
      width: 5rem;
      text-align: center; }
  .tituloGeneral, .video .tituloIndex, .nosotros__titulo, .ruta .rutaTitulo__pho, .ruta .rutaTitulo__et, .mtb .mtbTitulo__xb, .mtb .mtbTitulo__ex, .bmx .bmxTitulo__cu, .bmx .bmxTitulo__fl {
    font-size: 1.4em; }
  .nosotros__parrafo {
    font-size: 0.8em; }
  .centrarTexto {
    font-size: 0.8em; }
  .contactos {
    margin: 1rem; }
  .sociales {
    margin: 1rem; }
    .sociales__imagen a img {
      width: 6rem; }
    .sociales__icono img {
      width: 2rem; } }
    
    