.bmx{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 10fr 2fr 10fr;
    grid-template-areas: "btc btc"
                         "bic bpc"
                         "btf btf"
                         "bif bpf";
    grid-gap: 0.2rem;
    @include nor_grid(center, center, 2rem); 
    .bmxTitulo__cu{
    grid-area: btc; 
    @extend .tituloGeneral;       
    }
    .bmxImg__cu{
    grid-area: bic;    
    }
    .bmxParrafo__cu{
    grid-area: bpc; 
    @extend .centrarTexto;   
    }
    .bmxTitulo__fl{
    grid-area: btf;
    @extend .tituloGeneral;
    }
    .bmxImg__fl{
    grid-area: bif;    
    }
    .bmxParrafo__fl{
    grid-area: bpf;    
    }
}

