.video{
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: 6fr 1fr 3fr;
    grid-template-areas: "v1 v1 v1 v2 v2 v2"
                          "ti ti ti ti ti ti"
                          "v3 v3 v4 v4 v5 v5";
    grid-gap: 1rem;
    margin: 2rem;
    &__venzo1{
    grid-area: v1;
    }
    &__venzo2{
    grid-area: v2;
    row-gap: 5rem;
    }
    .tituloIndex{
        @extend .tituloGeneral;
        grid-area: ti;    
    }
    .subvideo__venzo1{
        grid-area: v3;    
    }
    .subvideo__venzo2{
        grid-area: v4;
    }
    .subvideo__venzo3{
        grid-area: v5;    
    }
}

    
    




