.ruta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 10fr 2fr 10fr;
    grid-template-areas: "rtp rtp"
                         "rip rpp"
                         "rte rte"
                         "rie rpe";
    grid-gap: 0.2rem;
    @include nor_grid(center, center, 2rem); 
    .rutaTitulo__pho{
    grid-area: rtp;
    @extend .tituloGeneral;
    }
    .rutaImg__pho{
        grid-area: rip;
    }
    .rutaParrafo__pho{
        grid-area: rpp;
    
    }
    .rutaTitulo__et{
        grid-area: rte;
        @extend .tituloGeneral;
    }
    .rutaImg__et{
        grid-area: rie;
    }
    .rutaParrafo__et{
        grid-area: rpe;
    }
}
