.nav__boton a:hover{
    width: 12rem;
    background-color: rgb(194, 191, 191);
    font-weight: bold; 
      
}
.boton__enviar:hover{
    width: 8rem;
    background-color: rgb(194, 191, 191);
          
} 