*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fondo de pantalla*/
html{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    font-size: 62.5%;
    body{
        background-color: black;                
        } 
        
    .centrarImg{
        align-items: center;
        }
    .centrarBody{
        max-width: 1300px;
        margin: 0 auto;
        } 
    .imgResponsive{
        width: 100%;
        } 
    
}




/*maps*/
$colores:(
    b:blue,
    r:red,
    g:green,
    y:yellow,
);
@each $var, $val in $colores {
    .color_#{$var}{
    color: $val};
}
/*extend*/
.tituloGeneral{
    color:red;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
}
.centrarTexto{
    text-align: center;
    font-size: 2em;
}
/*bootstrap*/
h1{
    @extend .tituloGeneral;
    font-family: Arial, Helvetica, sans-serif;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
}
h3{
    font-size: 1.3em;
}






    
   
