@media only screen and (max-width: 1024px) {
    .menu{
        &__logo{          
        width: 50rem;
        }
        .nav__boton a{       
        font-size: 0.9em;              
        width: 7rem;
        text-align: center;   
        }    
    }    
    .tituloGeneral{
        font-size: 2em;
        }
    .nosotros__parrafo{
        font-size: 1.6em;
        }        
    .centrarTexto{
        font-size: 1.5em;
    }   
}
@media only screen and (max-width: 900px) {
    .menu{
        &__logo{          
            width: 40rem;    
        }
        .nav__boton a{        
            font-size: 0.8em;        
            width: 6rem;          
        }
    }
    .tituloGeneral{
        font-size: 1.8em;
    }
    .nosotros__parrafo{
        font-size: 1.2em;
    }
    .centrarTexto{
        font-size: 1.3em;
    }         
    .sociales__imagen a img{
        width: 8rem;       
    }
}
@media only screen and (max-width: 780px) {
    .menu{
        display: flex;
        flex-direction: column; 
        &__logo{           
        width: 35rem;    
        } 
        .nav__boton a{         
        font-size: 0.6em;        
        width: 6rem;          
        }              
    }  
    .video{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 3fr 3fr 0.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-areas: "v1" 
                             "v2" 
                              "ti"
                              "v3"
                              "v4"
                              "v5";
        grid-gap: 1rem;
        margin: 2rem; 
                                
    }  
    .norBody{
        line-height:0.6em;
    }
    .nosotros{
        grid-template-rows: 1fr 2fr;
        &__parrafo{
        font-size: 1em;
        }
    }
    
    .ruta{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr 2fr 2fr;
        grid-template-areas: "rtp"
                             "rip" 
                             "rpp"
                             "rte"
                             "rie"
                             "rpe";
    .imgResponsive{
        width: 80%;
    } 
    }
    .mtb{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr 2fr 2fr;
        grid-template-areas: "mtx"
                             "mix"
                             "mpx"
                             "mte"
                             "mie"
                             "mpe";
    .imgResponsive{
        width: 80%;
    }                          
    }
    .bmx{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr 2fr 2fr;
        grid-template-areas: "btc"
                             "bic"
                             "bpc"
                             "btf"
                             "bif" 
                             "bpf";
    .imgResponsive{
        width: 80%;
    }                         
    }
    .contactos{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 5fr 2fr;
        grid-template-areas: "cn"
                             "ca"
                             "cl"
                             "ce"                                                             
                             "cc" 
                             "cb";                  
        margin: 2rem;                     
    }
    .sociales{
        
        justify-content: center;
            gap: 15rem;
        &__imagen a img{
            width: 7rem;
        }
        &__icono img{
            width: 2.5rem;
        }
    }
              
    
    
}
@media only screen and (max-width: 420px) {
    .menu{
        display: flex;
        flex-direction: column;  
        margin: 1rem; 
        &__logo{           
        width: 30rem;    
        } 
        .nav__boton a{         
        font-size: 0.6em;        
        width: 5rem;
        text-align: center;   
        }            
    }
    .tituloGeneral{
        font-size: 1.6em;
    }   
    
    .nosotros__parrafo{
        font-size: 0.8em;
        }       
    .centrarTexto{
        font-size: 1.1em;
    } 
    .contactos{
        margin: 1rem;
    }   
    .sociales{
        gap: 10rem;
        margin: 1rem;
        &__imagen a img{
        width: 6rem; 
        } 
        &__icono img{
        width: 2rem;
        margin: 0rem;
        }    
    }   
}